 
  
  .circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    color: #fff;
    text-align: center;
  }
  
  .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #07CA00;
    content: "";
  }
  
  .circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
    line-height: 1.2em;
  }
  
  @media (min-width: 480px) {
    .circle__content {
      font-size: 2em;
    }
  }
  
  @media (min-width: 768px) {
    .circle__content {
      font-size: 2em;
    }
  }


.activeroof {
    text-align: center;
    border: 1px #e4e4e4 solid !important;
    background-color: #daf7e6 !important;
    transition: background-color 0.3s, transform 2s;
    cursor: pointer;
}

.activeroof_NO {
    text-align: center;
    border: 1px #e4e4e4 solid !important;
    background-color: #f7dada !important;
    transition: background-color 0.3s, transform 2s;
}

.arrow {
    transition: height 0.3s, width 0.3s, transform 2s;
}

.clickactiveroof {
    border: 2px #aae7c4 solid !important;
    background-color: #daf7e6 !important;
    transition: background-color 0.3s, transform 2s;
    cursor: pointer;
}

.nochover {
    text-align: center;
    border: 0px;
    border: 1px #f0f0f0 solid !important;
    background-color: #fefefe !important;
}

.activeroof_arrow {
    transition: height 0.3s, width 0.3s, transform 2s;
    cursor: pointer;
}

input[type=range] {
    width: 100%;
    margin: 13px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(48, 113, 169, 0.78);
    border: 0.1px solid #313131;
    border-radius: 17.2px;
    width: 100%;
    height: 0px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -13.1px;
    width: 26px;
    height: 26px;
    background: #00d200;
    border: 2.8px solid #00001e;
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    background: rgba(48, 113, 169, 0.78);
    border: 1.1px solid #313131;
    border-radius: 17.2px;
    width: 100%;
    height: 0px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #00d200;
    border: 2.8px solid #313131;
    border-radius: 15px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 13.9px 0;
    color: transparent;
    width: 100%;
    height: 0px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 1.1px solid #313131;
    border-radius: 34.4px;
}

input[type=range]::-ms-fill-upper {
    background: rgba(48, 113, 169, 0.78);
    border: 1.1px solid #313131;
    border-radius: 34.4px;
}

input[type=range]::-ms-thumb {
    width: 26px;
    height: 26px;
    background: #00d200;
    border: 2.8px solid #313131;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(48, 113, 169, 0.78);
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}


/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out

  how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}